.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 'image title title' 'button button button';
    align-items: center;
    box-shadow: var(--box-shadow-background);
    border-radius: 10px;
    padding: 1rem;
}

.imageContainer {
    grid-area: image;
    text-align: center;
}

.title {
    grid-area: title;
    font-size: 1rem;
}

.buttonGroup {
    grid-area: button;
    display: inline-flex;
    flex-direction: row;
}

.buttonGroup a {
    text-decoration: none;

    color: white;
}

.button {
    border: none;
    padding: 0.5rem 0.2rem;
    margin: 0.2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow-background);
    border-radius: 10px;
    transition: transform 0.3s;
    flex: 1;
    text-align: center;
}

.button:hover {
    transform: scale(1.1);
}

.amazonButton {
    background-color: #ff9900;
}

.rakutenButton {
    background-color: #bf0000;
}

.yahooButton {
    background-color: #ff0027;
}
