.categoryTitle {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.iconLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border-radius: 12px;
    width: 80px;
    height: 80px;
    box-shadow: var(--box-shadow-background);
    transition: all 0.15s ease;
    padding: 0.5rem;
}

.iconLink:hover {
    transform: scale(1.1);
}

.iconLink svg {
    width: 2.5rem;
    height: 2.5rem;
}

.serviceName {
    margin-top: 0.5rem;
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
}