.container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.iconLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: var(--box-shadow-background);
    transition: all 0.15s ease;
}

.iconLink:hover {
    transform: scale(1.1);
}

.iconLink svg {
    width: 1.8rem;
    height: 1.8rem;
}
