.header {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    font-size: xx-large;
    border-radius: 10px;
    box-shadow: var(--box-shadow-background);
    border: none;
}

.logoLink {
    text-decoration: none;
    color: inherit;
}
