.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 300%;
    border-radius: 10px;
    box-shadow: var(--box-shadow-background);
    border: none;
}

.logo a {
    text-decoration: none;
    color: inherit;
}
