.section {
    margin-top: 2.5rem;
}

.heading {
    text-align: center;
    color: var(--c-primary);
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
