*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --c-primary: #00aa90;
    --c-background: #ebf2fa;
    --c-base: #3b3d3f;
    --c-white: #f2f6f9;
    --box-shadow-background: 2px 2px 6px #c8ced5, -2px -2px 6px #ffffff;
    --box-shadow-foreground: inset var(--box-shadow-background);
    --box-shadow-primary: 2px 2px 6px #00917a, -2px -2px 6px #00c4a6;
}

body {
    background-color: var(--c-background);
    color: var(--c-base);
}

table {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--c-base);
    border-collapse: separate;
    border-spacing: 0;
    background-color: var(--c-background);
    box-shadow: var(--box-shadow-background);
    border-radius: 15px;
    overflow: hidden;
}

strong {
    color: var(--c-primary);
}

th,
td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0.0625rem solid #d1d9e6;
}

th {
    text-align: inherit;
    background-color: var(--c-primary);
    color: var(--c-white);
    border: none;
}
