name: CI/CD

on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true
jobs:
    cicd:
        runs-on: ubuntu-latest
        concurrency:
            group: concurrency
        permissions:
            contents: read
            pull-requests: write
        steps:
            - uses: actions/checkout@v6
              with:
                  fetch-depth: 0
            - name: Set up node
              uses: actions/setup-node@v6
              with:
                  node-version: 24
            - name: Set up cache
              uses: actions/cache@v5
              with:
                  path: ${{ github.workspace }}/.next/cache
                  key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.lock') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx', '**/post.md') }}
                  restore-keys: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.lock') }}-
            - name: Install packages
              run: npm install
            - name: Lint code
              uses: reviewdog/action-eslint@v1
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  reporter: github-pr-review
            - name: Build and deploy for preview
              if: ${{ github.event_name == 'pull_request' }}
              run: npx netlify-cli deploy
              env:
                  NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
                  NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
                  AMAZON_ASSOCIATE_PARTNER_TAG: ${{ secrets.AMAZON_ASSOCIATE_PARTNER_TAG }}
                  RAKUTEN_AFFILIATE_ID: ${{ secrets.RAKUTEN_AFFILIATE_ID }}
                  RAKUTEN_API_ACCESS_KEY: ${{ secrets.RAKUTEN_API_ACCESS_KEY }}
                  RAKUTEN_API_APPLICATION_ID: ${{ secrets.RAKUTEN_API_APPLICATION_ID }}
                  VALUE_COMMERCE_PID: ${{ secrets.VALUE_COMMERCE_PID }}
                  VALUE_COMMERCE_SID: ${{ secrets.VALUE_COMMERCE_SID }}
                  YAHOO_API_APP_ID: ${{ secrets.YAHOO_API_APP_ID }}
            - name: Build and deploy for production
              if: ${{ github.event_name == 'push' }}
              run: npx netlify-cli deploy --prod
              env:
                  NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
                  NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
                  AMAZON_ASSOCIATE_PARTNER_TAG: ${{ secrets.AMAZON_ASSOCIATE_PARTNER_TAG }}
                  RAKUTEN_AFFILIATE_ID: ${{ secrets.RAKUTEN_AFFILIATE_ID }}
                  RAKUTEN_API_ACCESS_KEY: ${{ secrets.RAKUTEN_API_ACCESS_KEY }}
                  RAKUTEN_API_APPLICATION_ID: ${{ secrets.RAKUTEN_API_APPLICATION_ID }}
                  VALUE_COMMERCE_PID: ${{ secrets.VALUE_COMMERCE_PID }}
                  VALUE_COMMERCE_SID: ${{ secrets.VALUE_COMMERCE_SID }}
                  YAHOO_API_APP_ID: ${{ secrets.YAHOO_API_APP_ID }}
